################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DMS/bin
/DMS/obj
/.vs
.vs/