<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DMS.My.MySettings.DMSConnectionString" connectionString="Data Source=192.168.0.115;Initial Catalog=DMS;User ID=nelson;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <DMS.My.MySettings>
            <setting name="ImgPath" serializeAs="String">
                <value>\\ATLAS_SYNOLOGY\Public\Local Batches\Awaiting Index</value>
            </setting>
            <setting name="Queue" serializeAs="String">
                <value>\\ATLAS_SYNOLOGY\Public\NELSON\@1_REQUEST SKU\DONE\DOWNLOADED</value>
            </setting>
        </DMS.My.MySettings>
    </applicationSettings>
    <userSettings>
        <DMS.My.MySettings>
            <setting name="Save_RackNoTS" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoTS" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoRI" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoRI" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BookletNoRI" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoWarranty" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoWarranty" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoVoucher" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoVoucher" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoCorpDocu" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoCorpDocu" serializeAs="String">
                <value />
            </setting>
            <setting name="remoteTOD" serializeAs="String">
                <value>192.168.0.115</value>
            </setting>
            <setting name="Save_RackNoImport" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoImport" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoBIR" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoBIR" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoHRDoc" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoHRDoc" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoBoard" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoBoard" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoCopy" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoCopy" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoTrade" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoPatent" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoClear" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoAccre" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoSubs" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoContract" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoAttorney" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoOther" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_RackNoMemo" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoTrade" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoPatent" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoClear" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoAccre" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoSubs" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoContract" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoAttorney" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoOther" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_BoxNoMemo" serializeAs="String">
                <value />
            </setting>
        </DMS.My.MySettings>
    </userSettings>
</configuration>
